@import "tailwindcss";
@import "./fonts.css";
@import "./theme.css";

@utility container {
  max-width: calc(1400px + 2rem);
}

:root {
  --site-font-base: "Golos Text", sans-serif;
  --site-font-heading: "Mulish", sans-serif;

  --_clip-rect-size: 2.125rem;

  @media (width >= 64rem) {
    --_clip-rect-size: 4.25rem;
  }
}

@utility font-base {
  font-family: var(--site-font-base);
}

@utility font-heading {
  font-family: var(--site-font-heading);
}

@utility add-clip-rect-br {
  @apply relative isolate;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - var(--_clip-rect-size)),
      calc(100% - var(--_clip-rect-size)) 100%,
      0 100%
    );
  }
}

@utility add-clip-rect-bl {
  @apply relative isolate;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      var(--_clip-rect-size) 100%,
      0 calc(100% - var(--_clip-rect-size))
    );
  }
}

@utility add-clip-rect-tr {
  @apply relative isolate;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    clip-path: polygon(
      0 0,
      calc(100% - var(--_clip-rect-size)) 0,
      100% var(--_clip-rect-size),
      100% 100%,
      0 100%
    );
  }
}

@utility add-clip-rect-tl {
  @apply relative isolate;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    clip-path: polygon(
      var(--_clip-rect-size) 0,
      100% 0,
      100% 100%,
      0% 100%,
      0 var(--_clip-rect-size)
    );
  }
}

@utility clip-rect-br {
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--_clip-rect-size)),
    calc(100% - var(--_clip-rect-size)) 100%,
    0 100%
  );
}

@utility clip-rect-bl {
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    var(--_clip-rect-size) 100%,
    0 calc(100% - var(--_clip-rect-size))
  );
}

@utility clip-rect-tr {
  clip-path: polygon(
    0 0,
    calc(100% - var(--_clip-rect-size)) 0,
    100% var(--_clip-rect-size),
    100% 100%,
    0 100%
  );
}

@utility clip-rect-tl {
  clip-path: polygon(
    var(--_clip-rect-size) 0,
    100% 0,
    100% 100%,
    0% 100%,
    0 var(--_clip-rect-size)
  );
}

/* ===== HEADINGS ===== */

@utility typo-h1 {
  font-family: var(--site-font-heading);
  font-weight: 400;
  font-size: clamp(1.875rem, -0.285rem + 9.206vw, 7rem);
  line-height: 92%;
}

@utility typo-h2 {
  font-family: var(--site-font-heading);
  font-weight: 400;
  font-size: clamp(1.625rem, 0.413rem + 5.164vw, 4.5rem);
  line-height: 110%;
}

@utility typo-h3 {
  font-family: var(--site-font-heading);
  font-weight: 400;
  font-size: clamp(1.25rem, 0.671rem + 2.469vw, 2.625rem);
  line-height: 110%;
}

@utility typo-h4 {
  font-family: var(--site-font-base);
  font-weight: 700;
  font-size: clamp(1.25rem, 0.935rem + 1.343vw, 2rem);
  line-height: 92%;
}

@utility typo-h5 {
  font-family: var(--site-font-heading);
  font-weight: 400;
  font-size: clamp(1.125rem, 0.968rem + 0.672vw, 1.5rem);
  line-height: 92%;
}

@utility typo-h6 {
  font-family: var(--site-font-base);
  font-weight: 700;
  font-size: clamp(1rem, 0.79rem + 0.896vw, 1.5rem);
  line-height: 110%;
}

/* ===== UI ===== */

@utility typo-label {
  font-family: var(--site-font-base);
  font-weight: 600;
  font-size: clamp(0.75rem, 0.645rem + 0.448vw, 1rem);
  line-height: 100%;
  letter-spacing: 0.01em;
}

@utility typo-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: clamp(1rem, 0.895rem + 0.448vw, 1.125rem);
  line-height: 100%;
  letter-spacing: 0.005em;
}

/* ===== TEXT ===== */

@utility typo-t1 {
  font-family: var(--site-font-base);
  font-weight: 600;
  font-size: clamp(1rem, 0.79rem + 0.896vw, 1.5rem);
  line-height: 100%;
}

@utility typo-t2 {
  font-family: var(--site-font-base);
  font-weight: 600;
  font-size: clamp(1rem, 0.895rem + 0.448vw, 1.25rem);
  line-height: 100%;
}

@utility typo-t3 {
  font-family: var(--site-font-base);
  font-weight: 400;
  font-size: clamp(1rem, 0.895rem + 0.448vw, 1.25rem);
  line-height: 150%;
}

@utility typo-t4 {
  font-family: var(--site-font-base);
  font-weight: 400;
  font-size: clamp(0.875rem, 0.77rem + 0.448vw, 1rem);
  line-height: 100%;
}

@layer utilities {
  h1 {
    @apply typo-h1;
  }

  h2 {
    @apply typo-h2;
  }

  h3 {
    @apply typo-h3;
  }

  h4 {
    @apply typo-h4;
  }

  h5 {
    @apply typo-h5;
  }

  h6 {
    @apply typo-h6;
  }
}

@layer base {
  html {
    font-size: 16px;
    interpolate-size: allow-keywords;
    overflow-y: overlay;
    scrollbar-gutter: stable;
  }

  body {
    color: var(--color-text-primary);
    font-family: var(--site-font-base);
  }

  main {
    display: grid;
    grid-template-columns: 100%;
  }

  .container {
    margin-inline: auto;
    padding: 0 1rem;
  }
}

[x-cloak] {
  display: none !important;
}
