@theme {
  --color-accent: hsla(343, 63%, 45%, 1);
  --color-outline: hsla(228, 6%, 85%, 1);

  --color-text-primary: hsla(220, 66%, 13%, 1);
  --color-text-primary-inverse: hsla(0, 0%, 100%, 1);
  --color-text-secondary: hsla(220, 66%, 13%, 0.8);
  --color-text-secondary-inverse: hsla(0, 0%, 100%, 0.8);
  --color-text-tertiary: hsla(220, 66%, 13%, 0.6);
  --color-text-tertiary-inverse: hsla(0, 0%, 100%, 0.6);

  --color-surface-primary: hsla(0, 0%, 100%, 1);
  --color-surface-primary-inverse: hsla(220, 66%, 13%, 1);
  --color-surface-secondary: hsla(220, 20%, 94%, 1);
  --color-surface-secondary-inverse: hsla(220, 27%, 89%, 1);
  --color-surface-blur: hsla(240, 3%, 15%, 0.75);

  --color-surface-input: transparent;
  --color-text-input: hsla(0, 0%, 100%, 1);
  --color-text-input-label: hsla(0, 0%, 100%, 1);

  --color-button-surface-primary: hsla(0, 0%, 100%, 1);
  --color-button-surface-secondary: transparent;
  --color-button-surface-accent: linear-gradient(270deg,#ff9d4a 0%,#ff8b3e 100%);
  --color-button-border: transparent;
  --color-button-border-inverse: transparent;

  --color-mobile-menu-surface: hsla(0, 0%, 100%, 1);
  --color-mobile-menu-text: var(--color-text-primary);

  --color-toast-surface: hsla(240, 10%, 19%, 1);
  --color-toast-text: hsla(0, 0%, 100%, 1);
  --color-toast-success-text: hsla(0, 0%, 100%, 1);
  --color-toast-success-bg: hsla(124, 39%, 55%, 1);
  --color-toast-success-border: hsla(124, 39%, 55%, 1);
  --color-toast-error-text: hsla(0, 0%, 100%, 1);
  --color-toast-error-bg: hsla(345, 69%, 49%, 1);
  --color-toast-error-border: hsla(345, 69%, 49%, 1);

  /* --color-promo-surface: hsla(240, 10%, 19%, 1); */
  --color-promo-text-primary: hsla(0, 0%, 100%, 1);

  --color-hero-main-surface: hsla(48, 100%, 69%, 1);
  --color-hero-main-text: hsla(240, 10%, 19%, 1);

  --color-hero-about-surface: hsla(48, 100%, 69%, 1);
  --color-hero-about-text: hsla(240, 10%, 19%, 1);

  --color-cta-surface: hsla(240, 10%, 19%, 1);
  --color-cta-text: var(--color-text-primary-inverse);

  --color-kp-surface: hsla(48, 100%, 69%, 1);
  --color-kp-text: var(--color-text-primary-inverse);

  --color-appskilla-surface: hsla(240, 12%, 13%, 1);
  --color-appskilla-text: var(--color-text-primary-inverse);
  --color-appskilla-border: transparent;
}
